body {
  font-family: "Roboto", sans-serif;
  color: #31326f;
  display: block;
  margin: 0 auto;
}
i {
  text-align: center;
}
.appBody {
  display: block;
  margin: 0 auto;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
h1,
h2 {
  text-align: center;
}

.see-more {
  background-color: #31326f;
  color: white;
}
.share-button {
  background-color: #31326f;
  color: white;
}
i {
  font-size: 40px;
}
.link-to-github {
  color: #31326f;
  font-size: xx-small;
  text-align: center;
}
